<div class="container">

    <h1 class="page_title">Conditions</h1>
    <h2>A-Z  &emsp; <a href="/conditions/by_type">By type &#8594;</a></h2>

    <% @conditions.each do |c| %>
        <h3><a href="<%= c.name.gsub(" ", "_") %>"><%= c.name %></a></h3>
    <% end %>

</div>

