<!--source: https://codepen.io/anon/pen/MRgQyP-->
<div class='container'>
<div id="demo">
    <p class="long-header" >Search Results</p>
    <% if @results.any? %>
  <!-- Responsive table starts here -->
  <!-- For correct display on small screens you must add 'data-title' to each 'td' in your table -->
  <div class="table-responsive-vertical shadow-z-1">
  <!-- Table starts here -->
  <table id="table" class="table table-hover table-mc-light-blue">
      <thead>
        <!-- Column titles in search results -->
        <tr>
          <th>Practice Name</th>
          <th>See Profile</th>
          <th>Phone</th>
        </tr>
      </thead>
      <tbody>
        <!-- Column data in search results -->
        <% @results.each do |result| %>
        <tr>
          <td data-title="Provider Name"><%= result.name %></td>
            <td><%= link_to('Profile', go_to_profile_path(result.id), method: :GET) %></td>
            <td data-title="phone"><%= result.phone %></td>
        </tr>
        <% end %>

      </tbody>
    </table>
  </div>
  <% else %>
  <h1>No results!</h1>
  <% end %>
</div>
</div>
