<h1>Advanced Search Result</h1>
    <% if @results.any? %>
        <% @results.each do |result| %>
        <span><%= result.practiceName %></span>
        <% end %>
    <% else %>
        <h2>No results!</h2>
    <% end %>