<!--source: https://codepen.io/anon/pen/MRgQyP-->
<div class='container'>
<div id="demo">
  <h1>Search Results</h1>
  
  <!-- Responsive table starts here -->
  <!-- For correct display on small screens you must add 'data-title' to each 'td' in your table -->
  <div class="table-responsive-vertical shadow-z-1">
  <!-- Table starts here -->
  <table id="table" class="table table-hover table-mc-light-blue">
      <thead>
        <!-- Column titles in search results -->
        <tr>
          <th>Practice Name</th>
          <th>Address</th>
          <th>Phone</th>
          <th>Profile</th>
        </tr>
      </thead>
      <tbody>
        <!-- Column data in search results -->
        <% @results.each do |result| %>
        <tr>
            <td data-title="Provider Name"></td>
            <td data-title="address"><%= result.address %></td>
            <td data-title="phone"><%= result.phone %></td>
            <a href='/providers/profile'>Profile
          </tr>
        <% end %>
        
      </tbody>
    </table>
  </div>
</div>
</div>