<!--source: https://codepen.io/anon/pen/MRgQyP-->
<div class='container'>
<div id="demo">
  <h1>Search Results</h1>
  
  <!-- Responsive table starts here -->
  <!-- For correct display on small screens you must add 'data-title' to each 'td' in your table -->
  <div class="table-responsive-vertical shadow-z-1">
  <!-- Table starts here -->
  <table id="table" class="table table-hover table-mc-light-blue">
      <thead>
        <!-- Column titles in search results -->
        <tr>
          <th>Provider Name</th>
          <th>Profile Link</th>
          <th>Phone Number</th>
        </tr>
      </thead>
      <tbody>
        <!-- Column data in search results -->
        <% @results.each do |result| %>
        <tr>
            <td data-title="Provider Name"><%= result.practiceName %> </td>
            <td><%= link_to('Profile', go_to_profile_path(result.id), method: :GET) %></td>
            <td data-title="phone"><%= result.phone %></td>
        </tr>
        <% end %>
        
      </tbody>
    </table>
  </div>
</div>
</div>