<div id="error_explanation">
    <ul>
        <% flash.each do |type, message| %>
            <% message.each do |m| %>
            <li class="alert-<%= type %>"><%= m %></li>
            <% end %>
        <% end %>
    </ul>
</div>
