

<div class="container">
    <h1>Contact</h1>
    
    <h3>Development Timeline</h3>
    <p>
    Created in Grinnell College's CSC 324 
    <a href="http://www.cs.grinnell.edu/~johnsonba/CSC324/2019S/index.html">Spring 2019 Software Development Class </a>
    in conjunction with 
    <a href= "https://namijc.org/childrens-coalition/">NAMI Johnson County: Children's Coalition</a>.
    
    <br>
    Supervising Professor: Professor Anya Vostinar
    <br>
    NAMI Johnson County Advisor: Professor Tammy Nyden
    <br>
    </p>
    
    <h3>Grinnell College</h3>
    <p><a href="https://www.grinnell.edu/">Grinnell College Website</a><br>
    1115 8th Ave, Grinnell, IA 50112</p>
</div>