<!-- disorders page is for the parents of children to find more info about the disorder their child has 
the user story is a parent of a newly diagnosed child not knowing what sort of therapies are effectiveness for their child's mental disorder
so they can go to this page, find their child's disorder, and learn basic DSM info, facets, and possible treatments of the disorder
each infomation blurb should end with a link that searches the database for that sort of therapy/resource.

source: https://mdbootstrap.com/docs/jquery/javascript/accordion/
-->


<div class='container'>
    <p class=long-header>Understanding Your Child's Diagnosis</p>
    <p>Please remember that this page is for informational purposes only. </p>
    <p> The information on this page should only be used as general guidelines and cannot replace the advice of a trained professional. 
    Only trained health care providers can make accurate diagnoses. </p>
    <p>Please note that usually most of the symptoms must be present with sufficient severity in order for the individual to be diagnosed with that disease.</p>
    
        
    <div>
    <h2 class="myclass">General Resources</h2>
    
      <p>
      <ul>
        <li>Ask your doctor about possible medications for your child.</li>
        <li>Ask your therapist about possible therapies for your child.</li>
        <li>Adapting your parenting style to your child's disorder helps immensely. Seek <a href= "/page/resources#Family">Family Therapy</a> for you and your child.</li>
        <li>Seek additional support with medicaid waivers.</li>
        <li>Seek support groups for your child's demographics and disorder.</li>
      </ul>
      </p>
    </div>

   <!-- grid classes  -->
    <!-- Grid row -->
    <div class="row accordion-gradient-bcg d-flex justify-content-center">

      <!-- Grid column -->
      <div class="col-md-5 col-xl-6 py-5">
    <!--Accordion wrapper-->
    <div class="accordion md-accordion accordion-2" id="accordionEx7" role="tablist" aria-multiselectable="true">

  <!-- Accordion card -->
  <div class="card">

    <!-- Card header -->
    <div class="card-header" role="tab" id="headingOne1">
      <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapse1"
        aria-expanded="false" aria-controls="collapse1">
        
        <h5 class="mb-0 white-text font-thin">
              Attention Deficit Hyperactivity Disorder (ADHD) <i class="fas fa-angle-down rotate-icon"></i>
            </h5>
      </a>
    </div>
    
    <div>

    <!-- Card body -->
    <div id="collapse1" class="collapse" role="tabpanel" aria-labelledby="headingOne1" data-parent="#accordionEx">
      <div class="card-body card-body mb-1 rgba-grey-light white-text">
        <h4>Diagnosis</h4>
        
        <p>
        People with ADHD show a persistent pattern of inattention and/or hyperactivity-impulsivity that interferes with functioning or development.
        
        <p/>
        
        <h4>Symptoms</h4>
        <ul>
          <li>Inattention</li>
          <li>Hyperactivity</li>
          <li>Impulsivity</lsi>
        </ul>
        <p>Symptoms must be present before 12 years of age and be present in two or more settings.
        Symptoms are not better explained by other disorders. 
         Symptoms are not better explained by other disorders. </p>
        <h4>Resources/Treatment</h4>
          <p>
            Medication exists to treat ADHD and its symptoms, ask your doctor about possible medications.
            <br>
            <a href= "/page/resources#Behavioral">Behavior Therapy</a>      
          </p>
      </div>
    </div>

  </div>
  <!-- Accordion card -->

  <!-- Accordion card -->
  <div class="card">

    <!-- Card header -->
    <div class="card-header" role="tab" id="headingTwo2">
      <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseTwo2"
        aria-expanded="false" aria-controls="collapseTwo2">
        <h5 class="mb-0">
          Oppositional Defiant Disorder (ODD) <i class="fas fa-angle-down rotate-icon"></i>
        </h5>
      </a>
    </div>

    <!-- Card body -->
    <div id="collapseTwo2" class="collapse" role="tabpanel" aria-labelledby="headingTwo2" data-parent="#accordionEx">

      <div class="card-body">
        <h4>Symptoms</h4>
        For longer than 6 months
        <ul>
          <li>Angry or Irritable Mood</li>
          <li>Argumentative or Defiant Behavior</li>
          <li>Vindictiveness</li>
        </ul>
        
        Children and adolescents with ODD may have trouble controlling their temper and are often disobedient and defiant toward others. 
        <br>
        <h4>Related disorders</h4>
        <p>
          children with ODD sometimes also have
          <ul>
            <li>Attention Deficit Disorder (ADD)</li>
            <li>Learning Disabilities</li>
            <li>Mood Disorders</li>
            <li>Anxiety Disorders</li>
          </ul>
        </p>
        <h4>Resources</h4>
        <p>
          Treatment for ODD included
          <ul>
            <li><a href= "/page/resources#Psychotherapy" id="psycho">Psychotherapy</a></li>
            <li><a href= "/page/resources#Cognitive-Behavioral">Cognitive-Behavioral Therapy</a></li>
            <li><a href= "/page/resources#Family">Family Therapy</a></li>
            <li>Parent Management Training (PMT)</li>
          </ul>
          
          No specific medication, though medication is commonly diagnosed to treat symptoms.
        </p>
        
        <h4>Outlook</h4>
        Treatment is usually very effective if started at a young age.
        Children without treatment may experience social issues and develop conduct disorder.
      </div>
    </div>

  </div>
  <!-- Accordion card -->

  <!-- Accordion card -->
  <div class="card">

    <!-- Card header -->
    <div class="card-header" role="tab" id="headingThree3">
      <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseThree3"
        aria-expanded="false" aria-controls="collapseThree3">
        <h5 class="mb-0">
          Autism Spectrum Disorder (ASD) <i class="fas fa-angle-down rotate-icon"></i>
        </h5>
      </a>
    </div>

    <!-- Card body -->
    <div id="collapseThree3" class="collapse" role="tabpanel" aria-labelledby="headingThree3" data-parent="#accordionEx">
      <div class="card-body">
        This is ASD.
      </div>
    </div>

  </div>
  <!-- Accordion card -->

</div>
<!-- Accordion wrapper -->
</div>
  <!-- Grid column -->

</div>
</div>

</div>
</div>
</div>

    

<!-- Grid row -->
    
    
    <!--
    Initial Attempt at making a hide-show toggle on click.
    uses html and javascript and css
    
    <button class = "button red" onclick="hide_show('ADHD')">
        attention deficit hyperactivity disorder (ADHD)
    </button>
    
    <div id="ADHD">
      This is ADHD
    </div> 
    
    <button class = "button blue" onclick="hide_show('ODD')">
        oppositional defiant disorder (ODD)
    </button>
    
    <div id="ODD">
      This is ODD
    </div> 
    
    <button class = "button red" onclick="hide_show('ASD')">
        autism spectrum disorder (ASD)
    </button>
    
    <div id="ASD">
      This is ASD
    </div> 
    

    
    
    attention deficit hyperactivity disorder (ADHD)
    oppositional defiant disorder (ODD)
    autism spectrum disorder (ASD)
    anxiety disorder.
    depression.
    bipolar disorder.
    learning disorders.
    conduct disorders.
    -->
    
