
<div class='container'>
    <h1>This is the disorders page</h1>
    <!-- Grid row -->
    <div class="row accordion-gradient-bcg d-flex justify-content-center">

      <!-- Grid column -->
      <div class="col-md-10 col-xl-6 py-5">
    <!--Accordion wrapper-->
    <div class="accordion md-accordion" id="accordionEx" role="tablist" aria-multiselectable="true">

  <!-- Accordion card -->
  <div class="card">

    <!-- Card header -->
    <div class="card-header red" role="tab" id="headingOne1">
      <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne1" aria-expanded="true"
        aria-controls="collapseOne1">
        <h5 class="mb-0">
          Attention Deficit Hyperactivity Disorder (ADHD) <i class="fas fa-angle-down rotate-icon"></i>
        </h5>
      </a>
    </div>

    <!-- Card body -->
    <div id="collapseOne1" class="collapse show" role="tabpanel" aria-labelledby="headingOne1" data-parent="#accordionEx">
      <div class="card-body">
        This is ADHD.
      </div>
    </div>

  </div>
  <!-- Accordion card -->

  <!-- Accordion card -->
  <div class="card">

    <!-- Card header -->
    <div class="card-header" role="tab" id="headingTwo2">
      <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseTwo2"
        aria-expanded="false" aria-controls="collapseTwo2">
        <h5 class="mb-0">
          Oppositional Defiant Disorder (ODD) <i class="fas fa-angle-down rotate-icon"></i>
        </h5>
      </a>
    </div>

    <!-- Card body -->
    <div id="collapseTwo2" class="collapse" role="tabpanel" aria-labelledby="headingTwo2" data-parent="#accordionEx">
      <div class="card-body">
        This is ODD.
      </div>
    </div>

  </div>
  <!-- Accordion card -->

  <!-- Accordion card -->
  <div class="card">

    <!-- Card header -->
    <div class="card-header" role="tab" id="headingThree3">
      <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseThree3"
        aria-expanded="false" aria-controls="collapseThree3">
        <h5 class="mb-0">
          Autism Spectrum Disorder (ASD) <i class="fas fa-angle-down rotate-icon"></i>
        </h5>
      </a>
    </div>

    <!-- Card body -->
    <div id="collapseThree3" class="collapse" role="tabpanel" aria-labelledby="headingThree3" data-parent="#accordionEx">
      <div class="card-body">
        This is ASD.
      </div>
    </div>

  </div>
  <!-- Accordion card -->

</div>
<!-- Accordion wrapper -->
</div>
  <!-- Grid column -->

</div>
<!-- Grid row -->
    
    <!--
    <button class = "button red" onclick="hide_show('ADHD')">
        attention deficit hyperactivity disorder (ADHD)
    </button>
    
    <div id="ADHD">
      This is ADHD
    </div> 
    
    <button class = "button blue" onclick="hide_show('ODD')">
        oppositional defiant disorder (ODD)
    </button>
    
    <div id="ODD">
      This is ODD
    </div> 
    
    <button class = "button red" onclick="hide_show('ASD')">
        autism spectrum disorder (ASD)
    </button>
    
    <div id="ASD">
      This is ASD
    </div> 
    

    
    
    attention deficit hyperactivity disorder (ADHD)
    oppositional defiant disorder (ODD)
    autism spectrum disorder (ASD)
    anxiety disorder.
    depression.
    bipolar disorder.
    learning disorders.
    conduct disorders.
    -->
    
</div>