
<div class='container'>
    <h1>This is the disorders page</h1>
    <div class="mt-1">
        <h1>NAMI Johnson County Database</h1>
    </div>
    
    
    <button class = "button red" onclick="hide_show('ADHD')">
        attention deficit hyperactivity disorder (ADHD)
    </button>
    
    <div id="ADHD">
      This is ADHD
    </div> 
    
    <button class = "button blue" onclick="hide_show('ODD')">
        oppositional defiant disorder (ODD)
    </button>
    
    <div id="ODD">
      This is ODD
    </div> 
    
    <button class = "button red" onclick="hide_show('ASD')">
        autism spectrum disorder (ASD)
    </button>
    
    <div id="ASD">
      This is ASD
    </div> 
    

    
    
    attention deficit hyperactivity disorder (ADHD)
    oppositional defiant disorder (ODD)
    autism spectrum disorder (ASD)
    anxiety disorder.
    depression.
    bipolar disorder.
    learning disorders.
    conduct disorders.
       
    
</div>