<!--Begin page content -->
 <head>
  <link rel="stylesheet" type="text/css" href="reset.scss">
  <link rel="stylesheet" type="text/css" href="page.scss">
</head>
    <div class="container">
      <div class="mt-1">
        <%= image_tag("images/nami-logo-blue.gif", id: "nami-logo") %>
        <p class="long-header" >NAMI Johnson County Database</p>
      </div>

      <div id="menu_container">
      <div class="main_button"><img src="/assets/right-arrow.svg" class="arrow" alt="=>" arrow-rotated="false"> For clients & parents</div>
        <div class="submenu">
            <ul>
                <li><a href="/conditions/by_type">Understanding your diagnosis</a></li>
                <li>Resources</li>
                <li><a href="/search/advanced_search">Search providers</a></li>
                <li>Submit a provider</li>
            </ul>
        </div>
    <div class="main_button"><img src="/assets/right-arrow.svg" class="arrow" alt="=>" arrow-rotated="false">
     For healthcare providers</div>
        <div class="submenu">
            <ul>
                <li>Log in/Sign up</li>
            </ul>
        </div>

      </div>
      
    </div>


    
<!--End page content -->
