
 <!--Begin page content -->
    <div class="container">
      <div class="mt-1">
        <h1>NAMI Johnson County Project</h1>
      </div>
      <p class="lead">Pin a fixed-height footer to the bottom of the viewport in desktop browsers with this custom HTML and CSS.</p>
      <p>Use <a href="../sticky-footer-navbar">the sticky footer with a fixed navbar</a> if need be, too.</p>
        
        <a class="push_button red" href="/page/parents">For Parents</a> 
        <a class="push_button blue" href="/page/providers">For Providers</a>
        
        <a href="/page/parents" >
            <img border="0" src="IMG_3541.jpg" alt="Are you a parent? Click here!" width=25% />
        </a>
        <a href="/page/parents" >
            <img border="0" src="IMG_3541.jpg" alt="Are you a parent? Click here!" width=25% />
        </a>
    </div>
<!--End page content -->