 <!--Begin page content -->
 <head>
  <link rel="stylesheet" type="text/css" href="reset.scss">
  <link rel="stylesheet" type="text/css" href="page.scss">
</head>
    <div class="container">
      <div class="mt-1">
        <p class="long-header" >NAMI Johnson County Database</p>
      </div>
      <div class="row">
        <div class="col-sm-6"><a class="front_page_button"  href="/page/parents"><span class="buttonText">Parents, click here!</span></a></div> 
        <div class="col-sm-6"><a class="front_page_button" href="/page/providers"><span class="buttonText">Health care providers, click here!</span></a></div>
        <div class="col-sm-6"><a class="front_page_button" href="/search/advanced_search"><span class="buttonText">Advanced database search</span></a></div>
        <div class="col-sm-6"><a class="front_page_button" href="/users/sign_up"><span class="buttonText">Add a provider to the database</span></a></div>

      </div>
    </div>


    
<!--End page content -->