
 <!--Begin page content -->
    <div class="container">
      <div class="mt-1">
        <h1>NAMI Johnson County Database</h1>
      </div>
      
        <a class="push_button red"  href="/page/parents">Are you a parent? Click here!</a> 
        <a class="push_button blue" href="/page/providers">Are you a health care provider? Click here!</a>
        <!--
        <a href="/page/parents" >
            <img border="0" src="IMG_3541.jpg" alt="Are you a parent? Click here!" width=25% />
        </a>
        <a href="/page/parents" >
            <img border="0" src="IMG_3541.jpg" alt="Are you a parent? Click here!" width=25% />
        </a>
        -->
    </div>
<!--End page content -->