<h1>NAMI home</h1>
<!---->
     <!--Begin page content -->
    <div class="container">
      <div class="mt-1">
        <h1>NAMI Johnson County Project</h1>
      </div>
      <p class="lead">Pin a fixed-height footer to the bottom of the viewport in desktop browsers with this custom HTML and CSS.</p>
      <p>Use <a href="../sticky-footer-navbar">the sticky footer with a fixed navbar</a> if need be, too.</p>
      
      <input type="button" value="For Parents" onclick="/page/parents" />
      <input type="button" value="For Providers" onclick="/page/providers" />

    </div>
     <!--End page content -->
