
 <!--Begin page content -->
    <div class="container">
      <div class="mt-1">
        <h1>NAMI Johnson County Database</h1>
      </div>
      <div class="row">
        <div class="col-sm-6"><a class="push_button red"  href="/page/parents"><span class="buttonText">Are you a parent? Click here!</span></a></div> 
        <div class="col-sm-6"><a class="push_button blue" href="/page/providers"><span class="buttonText">Are you a health care provider? Click here!</span></a></div>
      </div>
    </div>
<!--End page content -->