
<div class='container'>
    <div class="mt-1">
        <h1 class="myclass">For Parents</h1>
    </div>
    <div class="row">
      <div class="col-sm-6"><a class="parent_page_button"  href="/page/disorders"><span class="buttonText">Understanding your child's diagnosis</span></a></div> 
      <div class="col-sm-6"><a class="parent_page_button"  href="/page/resources"><span class="buttonText">Understanding available resources</span></a></div> 
      <div class="col-sm-6"><a class="parent_page_button" href="/search/advanced_search"><span class="buttonText">Advanced database search</span></a></div>
      <div class="col-sm-6"><a class="parent_page_button"  href="https://dhs.iowa.gov/ime/members/medicaid-a-to-z/hcbs/waivers" target="_blank"><span class="buttonText">About waivers</span></a></div> 

    </div>
</div>