
<div class='container'>
    <div class="mt-1">
        <h1>For Parents</h1>
    </div>
    <div class="row">
      <div class="col-sm-6"><a class="push_button red"  href="/page/disorders"><span class="buttonText">Understanding your child's diagnosis</span></a></div> 
      <div class="col-sm-6"><a class="push_button blue"  href="/page/resources"><span class="buttonText">Understanding available resources</span></a></div> 
    </div>
</div>