
<div class='container'>
    <h1>This is the parent's page</h1>
    <div class="mt-1">
        <h1>NAMI Johnson County Database</h1>
    </div>
      
       <a class="push_button red"  href="/page/disorders"> Understanding your child's diagnosis Disorders</a> 
       <a class="push_button blue"  href="/page/resources"> Understanding avaliable resources</a> 
</div>