<div class="container">
      <div class="mt-1">
        <h1>Here goes your profile:</h1>
        <% if p = session[:provider] %>
          <div>Provider address is <%= p.address %></div>
        <% else %>
          <div>You do not have a profile yet!</div>
          <%= link_to 'Create Profile', new_provider_path %>
        <% end %>
      </div>
</div>