<div class='container'>
<div class="login-page">
  <%= render 'shared/alert_message' %>
  <div class="form">
    <form class="user_form" action="/page/post_login" method="POST">
      <input type="text" name="username" placeholder="username"/>
      <input type="password" name="password" placeholder="password"/>
      <button class="user_button">login</button> 
      <p class="message">Not registered? <a href="/page/signup">Create an account</a></p>
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <%= csrf_meta_tags %>
    </form>
  </div>
</div>
</div>
