<div class='container'>

<div class="login-page">
  <div class="form">
    <form class="user_form">
      <input type="text" placeholder="username"/>
      <input type="password" placeholder="password"/>
      <a class="user_button" href="/page/profile">login</a> 
      <p class="message">Not registered? <a href="/page/signup">Create an account</a></p>
    </form>
  </div>
</div>
</div>