<h1>Providers Page</h1>
<div class='container'>
<p>NAMI is proud to share our new white paper: “Working Together to Advance Discovery and Reignite Hope: Advocacy, Academia, Industry and Government Push for New Mental Health Treatment Options.” This paper describes the important work NAMI and our partners have done to push forward in the difficult and complex field of brain science and developing treatment for mental illness.

NAMI has advocated for better treatments, better legal protections and better lives for the millions of Americans affected by mental illness for 40 years. A major challenge people with mental illness face is the lack of highly effective treatments with a low risk of side effects. NAMI has joined together with leading academic, industry and government researchers to address this issue through the Advancing Discovery Summit series. 

We have made great progress by working with partners like the Stanley Center for Psychiatric Research at the Broad Institute, the Psychiatric Genomics Consortium, the National Institute of Mental Health (NIMH) and researchers from top universities and companies. There is still a great deal of work to do, but we are moving forward with reignited hope for new and better treatments. </p>

<!--<3% #content_for :myvar do %>-->
<!--<li class="nav-item active">-->
<!--    <a class="nav-link" href='/page/providers'>Testing</a></li>-->
<!--<3% #end %>-->
</div>