

<div class='container'>
    <h1>This is the resources/therapies page</h1>
    <p>Please remember that this page is for informational purposes only. 
    The information on this page should only be used as general guidelines and cannot replace the advice of a trained professional.
    Only a trained professional can make accurate diagnoses.</p>
    
    
    <h2>General Therapies/Tips</h2>
     <!-- grid classes  -->
    <!-- Grid row -->
    <div class="row accordion-gradient-bcg d-flex justify-content-center">

      <!-- Grid column -->
      <div class="col-md-5 col-xl-6 py-5">
    <!--Accordion wrapper-->
    <div class="accordion md-accordion accordion-2" id="accordionEx7" role="tablist" aria-multiselectable="true">

  <!-- Accordion card -->
  <div class="card">

    <!-- Card header -->
    <div class="card-header" role="tab" id="headingOne1">
      <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapse1"
        aria-expanded="false" aria-controls="collapse1">
        
        <h5 id = "Psychotherapy" class="mb-0 white-text font-thin">
              Psychotherapy <i class="fas fa-angle-down rotate-icon"></i>
            </h5>
      </a>
    </div>

    <!-- Card body -->
    <div id="collapse1" class="collapse" role="tabpanel" aria-labelledby="headingOne1" data-parent="#accordionEx">
      <div class="card-body card-body mb-1 rgba-grey-light white-text">
        <h4>Definition</h4>
        <p>Psychotherapy (a type of counseling) is aimed at helping the child develop more effective coping and problem-solving skills, and ways to express and control anger.</p>
      </div>
    </div>

  </div>
  <!-- Accordion card -->

  <!-- Accordion card -->
  <div class="card">

    <!-- Card header -->
    <div class="card-header" role="tab" id="headingTwo2">
      <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseTwo2"
        aria-expanded="false" aria-controls="collapseTwo2">
        <h5 id="Cognitive-Behavioral" class="mb-0">
          Cognitive-Behavioral Therapy <i class="fas fa-angle-down rotate-icon"></i>
        </h5>
      </a>
    </div>

    <!-- Card body -->
    <div id="collapseTwo2" class="collapse" role="tabpanel" aria-labelledby="headingTwo2" data-parent="#accordionEx">
      <div class="card-body">
        Cognitive-Behavioral Therapy aims to reshape the child's thinking (cognition) to improve behavior
    </div>

  </div>
  <!-- Accordion card -->

  <!-- Accordion card -->
  <div class="card">

    <!-- Card header -->
    <div class="card-header" role="tab" id="headingThree3">
      <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseThree3"
        aria-expanded="false" aria-controls="collapseThree3">
        <h5 id="Family"class="mb-0">
          Family Therapy <i class="fas fa-angle-down rotate-icon"></i>
        </h5>
      </a>
    </div>

    <!-- Card body -->
    <div id="collapseThree3" class="collapse" role="tabpanel" aria-labelledby="headingThree3" data-parent="#accordionEx">
      <div class="card-body">
        Family Therapy may be used to help improve family interactions and communication among family members.
      </div>
    </div>

<!-- Accordion card -->
  <div class="card">

    <!-- Card header -->
    <div class="card-header" role="tab" id="heading4">
      <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapse4"
        aria-expanded="false" aria-controls="collapseThree3">
        <h5 id="PMT"class="mb-0">
          Parent Management Training (PMT)<i class="fas fa-angle-down rotate-icon"></i>
        </h5>
      </a>
    </div>

    <!-- Card body -->
    <div id="collapse4" class="collapse" role="tabpanel" aria-labelledby="heading4" data-parent="#accordionEx">
      <div class="card-body">
        <p>
        A specialized therapy technique called parent management training (PMT) teaches parents ways to positively alter their child's behavior. 
        <p/>
      </div>
    </div>
    <!-- Accordion card -->
  <div class="card">

    <!-- Card header -->
    <div class="card-header" role="tab" id="heading5">
      <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapse5"
        aria-expanded="false" aria-controls="collapseThree3">
        <h5 id="Family"class="mb-0">
          Behavioral Therapy <i class="fas fa-angle-down rotate-icon"></i>
        </h5>
      </a>
    </div>

    <!-- Card body -->
    <div id="collapse5" class="collapse" role="tabpanel" aria-labelledby="heading5" data-parent="#accordionEx">
      <div class="card-body">
        <p>A behavior therapy regimen can be developed by a pediatrician or a school psychologist or another mental-health worker. Based on a structured system of rewards and consequences — such as increased or decreased TV privileges — the program also includes changes in a child’s environment to minimize distractions. Parents also receive training in giving commands and reacting when a child obeys or disobeys.
The goal is to incrementally teach children new ways of behaving by rewarding desired behavior, such as following directions, and eliminating undesired actions, such as losing homework
https://www.additudemag.com/adhd-therapy-behavioral-treatment-with-medication/
</p>
      </div>
    </div>
  </div>
  <!-- Accordion card -->

</div>
<!-- Accordion wrapper -->
</div>
  <!-- Grid column -->

</div>
<!-- Grid row -->
    
<!-- trying to search database
<button class = "button red" onclick="hide_show('ADHD')">
        attention deficit hyperactivity disorder (ADHD)
</button>
--?



</div>
</div>
</div>
</div>