

<div class="login-page">
  <div class="form">
    <form class="user_form">
      <span class="user_tag">Username:</span>
      <input class="require" type="text" placeholder="username"/>
      <span class="user_tag">Password:</span>
      <input class="require" type="text" placeholder="password"/>
      <span class="user_tag">Confirm password:</span>
      <input class="require" type="password" placeholder="retype password"/>
      <span class="user_tag">Provider Practice Name:</span>
      <input class="require" type="text" placeholder="practice name"/>
      <span class="user_tag">Address:</span>
      <input class="require" type="text" placeholder="address"/>
      <span class="user_tag">Phone:</span>
      <input class="require" type="text" placeholder="phone"/>
      <span class="user_tag">Description:</span>
      <input type="text" placeholder="description"/>
      <a class="user_button" href="/page/profile">Submit</a> 
      <p class="message"> Have an account? <a href="/page/providers">Log in!</a></p>
    </form>
  </div>
</div>