<div class='container'>

<div class="login-page">
  <div class="form">
    <form class="user_form">
      <span class="user_tag">Username:</span>
      <input type="text" placeholder="username"/>
      <span class="user_tag">Password:</span>
      <input type="text" placeholder="password"/>
      <span class="user_tag">Confirm password:</span>
      <input type="password" placeholder="password"/>
      <a class="user_button" href="/page/profile">Submit</a> 
      <p class="message"> Have an account? <a href="/page/login">Log in!</a></p>
    </form>
  </div>
</div>
</div>