// Place all the styles related to the Page controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


    body {
        //display: flex;
        overflow-y: auto;
        height: 100%;
        //flex-direction: column;
    }
    
    .container{
        display: flex;
        //overflow-y: auto;
        height: 100%;
        padding-top:1em;
        flex-direction: column;
    }
    
    #sitename {
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 3em;
    }

    .nav {
        background-color: #cdd7d8;
        padding: 0;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .titles {
        color: black;
    }

    .content {
        flex:1;
        display:flex;
    }

    .footer{
        height: 50px;
        background-color: #cdd7d8;
        font-size: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .footer div{
        flex:1
    }

    .sidebar {
        background-color: #acfca6;
        min-width: 20%;
    }

    .content-body {
        background-color: #b8f4f9;
        flex: 1;
    }

    .buttons {
        height: 100%;
        display: flex;
        flex: 1;
        justify-content: center;
        align-items: center;
    }
    
    .buttons:hover {
        background-color: black;
        .titles {color: white};
        cursor: pointer;
    }
    
    a {
        text-decoration: none;
    }

    .darkFooter{
      background: #292b2c;
    }
    
    .footerText{
        color: white;
        padding-top: 1.2em;
    }
    
    .dropdown:hover .dropdown-menu{
        display:block;
    }
    
    // .dropdown{
    //     padding:1em;
    // }