// Place all the styles related to the Page controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

    body {
        display: flex;
        overflow-y: auto;
        height: 100%;
        flex-direction: column;
    }
    
     .header {
         margin-top: 10px;
         margin-bottom: 20px;
         //font-size: 3em;
     }

    .nav {
        padding: 0;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .content {
        background-color: purple;
        flex:1;
        display: flex;
    }

    .footer{
        height: 60px;
        background-color: yellow;
    }

    .sidebar {
        background-color: green;
        min-width: 20%;
    }

    .content-body {
        background-color: blue;
        flex: 1;
    }

    .buttons {
        padding-top: 1px;
        padding-bottom: 1px;
        margin: none;
        display: flex;
        flex: 1;
        border-left: 1px solid black;
        border-right: 1px solid black;
        justify-content: center;
    }

