#success-message {
    color:green;
    text-align: center;
}

#count {
    text-align:left;
    font-size:0.8em;
    margin-bottom: 15px;
}

div.col label {
    text-align: left;
    width: 100%;
}

div.row.heading label {
    font-weight: bold;
    margin-bottom: 0.5em;
}

section.tab-header {
    padding-top: 1em;
}
