// body {
//   background-color: #fff;
//   color: #333;
//   margin: 33px;
//   font-family: verdana, arial, helvetica, sans-serif;
//   font-size: 13px;
//   line-height: 18px;
// }

// p, ol, ul, td {
//   font-family: verdana, arial, helvetica, sans-serif;
//   font-size: 13px;
//   line-height: 18px;
// }

// pre {
//   background-color: #eee;
//   padding: 10px;
//   font-size: 11px;
// }

a {
  text-decoration: none;
  }
  
.navbar .nav-item {

  &:visited {
    color: #666;
  }

  &:hover {
    color: #fff;
    background-color: #000;
  }
}



//mobile css
// don't delete the next line! 
//= depend_on_asset "yellow-logo-transparent.png"

.mobile-navbar-search{
  display: none;
}

@media only screen and (max-width: 1000px){
  a.navbar{
    min-height: 100px;
  }
  #logo-navbar{ // pc
   display: none; 
  }
  #logo-next-to-button{ //mobile
    display: flex;
  }
  .mobile-navbar-search  {  
    display: flex;
    width: 100%;
  }
  .parent{
    display: flex;
    justify-content: space-between;
  }
  
}

