<html>
  <head>
    <title>Nami Website</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="header" style="text-align: center">NAMI Website</div>
        <div class="nav">
                <div class="buttons">
                    <a href="http://www.google.com"><div class="header">
                        <span class="titles">Home</span>
                        <i class="fas fa-home"></i>
                        </div>
                        </a>
                </div>
 
                <div class="buttons">
                    <a href="http://www.google.com"><div class="header">
                        <span class="titles">Photos</span>
                        <i class="fas fa-camera-retro"></i>
                        </div>
                        </a>
                </div>
                
                <div class="buttons">
                    <a href="http://www.google.com"><div class="header">
                        <span class="titles">Videos</span>
                        <i class="fas fa-video"></i>
                        </div></a>
                </div>
                
                <div class="buttons">
                    <a href="http://www.google.com"><div class="header">
                        <span class="titles">Contact us</span>
                        <i class="fas fa-video"></i>
                        </div></a>
                </div>

        </div>

        <div class="content">
            <div class="sidebar">
                sidebar
            </div>

            <div class="content-body">
                content-body
            </div>
        </div>

        <div class="footer">
            footer
        </div>


    </body>
  </body>
</html>
