<html>
  <head>
    <title>Nami Website</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <div class="container">
        <div id="sitename" style="text-align: center">NAMI Website</div>
            <div class="nav">
                <div class="buttons">
                    <a href="http://www.google.com"><div class="header">
                        <span class="titles">Home</span>
                        <i class="fas fa-home"></i>
                        </div>
                        </a>
                </div>
 
                <div class="buttons">
                    <a href="http://www.google.com"><div class="header">
                        <span class="titles">Photos</span>
                        <i class="fas fa-camera-retro"></i>
                        </div>
                        </a>
                </div>
                
                <div class="buttons">
                    <a href="http://www.google.com"><div class="header">
                        <span class="titles">Videos</span>
                        <i class="fas fa-video"></i>
                        </div></a>
                </div>
                
                
                <div class="buttons">
                    <a href="http://www.google.com">
                    <div class="header">
                        <span class="titles">Contact us</span>
                        <i class="fas fa-video"></i>
                        </div></a>
                </div>
                

        </div>

        <div class="content">
            <div class="sidebar">
                sidebar
            </div>

            <div class="content-body">
                content-body
            </div>
        </div>

        <div class="footer">
            Copyright <%= Time.new.year %> &copy; 
            Grinnell College. All Rights Reserved
        </div>
    </div>

    </body>
  </body>
</html>
